* {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    outline: none;
    page-break-inside: avoid;
}

body {
    background-color: white;
    padding-top: 85px;
    display: flex; 
    flex-direction: column;
    align-items: center;
} 

#navbar {
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 5;
    border-bottom: 2px solid rgba(128, 128, 128, 0.123);
    background-color: rgba(128, 128, 128, 0.082);

}

#navbar h1{
    margin-left: 30px;
    color: rgba(0, 0, 0, 0.653);
    font-size: 40px;
    font-family: 'Brush Script MT', cursive;
    font-weight: lighter;
}

#navbar a {
    margin-right: 13px;
    color: rgba(0, 0, 0, 0.653);
    text-decoration: none;
    font-size: 13px;
    background-color: rgba(128, 128, 128, 0.082);
    width: 20px;
    height: 20px;
    padding: 6px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 20px;
}

.holder {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    width: calc(100% - 40px);
    padding-bottom: 20px;
}

.create {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create img {
    height: 200px;
}

.create h3 {
    color: rgba(0, 0, 0, 0.653);
    font-weight: 400;
}

.main_text {
    color: rgba(245, 245, 245, 0.815);
    font-weight: lighter;
    font-size: 20px;
}
 
.join form {
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
}

.join h2 {
    color: rgba(0, 0, 0, 0.653);
    font-weight: lighter;
    margin: 0;
    margin-top: 10px;
    font-size: 30px;
}

.main_text {
    color: rgba(0, 0, 0, 0.653);
    font-weight: normal;
    font-size: 15px;
}

.join textarea {
    color: grey;
    border-radius: 8px;
    height: 70px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.062);
    border: 2px solid rgba(128, 128, 128, 0.233);
}

.join button {
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(128, 128, 128, 0.216);
    border: 1px solid rgba(128, 128, 128, 0.266);
    color: rgba(0, 0, 0, 0.553);
    border-radius: 8px;
}

.divtwo {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    padding-left: 20px;
    width: calc(100% - 40px);
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.child_one {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: calc(100% - 30px);
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 8px;
}

.child_one p {
    color: rgba(0, 0, 0, 0.653);
    font-weight: normal;
    font-size: 16px;
}

.child_one img {
    width: 150px;
    height: 150px;
    margin-left: 20px;
    border: 4px solid rgba(128, 128, 128, 0.714);
    border-radius: 50%;
    padding: 7px;
    align-self: center;
}

.child_one div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.child_one div input {
    border: none;
    border-radius: 8px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.062);
    border: 2px solid rgba(128, 128, 128, 0.333);
    margin-bottom: 15px;
    color: grey;
}

.child_one form {
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
}

.child_one div button {
    border: none;
    color: grey;
    border-radius: 8px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.316);
    border: 1px solid rgba(128, 128, 128, 0.366);
}

.child_two {
    width: calc(100% - 70px);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.child_two h2 {
    color: rgba(0, 0, 0, 0.653);
    font-weight: lighter;
    margin: 0;
    margin-top: 10px;
    font-size: 27px;
}

.child_two p {
    color: rgba(0, 0, 0, 0.553)
    font-weight: normal;
    font-size: 15px;
}

.footer {
    font-size: 30px;
    font-family: 'Brush Script MT', cursive;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.571);
    position: relative;
    width: 94%;
    text-align: center;
    margin: 0;
}

.footer::before {
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.201);
    height: 30px;
    width: 42%;
    margin-right: 8px;
    position: absolute;
    top: 20px;
    left: 0;
}

.footer::after {
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.201);
    height: 30px;
    width: 42%;
    margin-right: 8px;
    position: absolute;
    top: 20px;
    right: 0;
}

@media screen and (max-width: 700px) {
    .divtwo {
        flex-direction: column;
    }

    .divtwo div {
        width: 100%;
    }
}